@page "{id?}"
@model AddEditRecipeModel

<form method="post" class="form-horizontal">

    <div class="form-group">
        <label asp-for="Recipe.Name" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input asp-for="Recipe.Name" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Recipe.Description" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <textarea rows="3" asp-for="Recipe.Description" class="form-control"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Recipe.Ingredients" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <textarea rows="5" asp-for="Recipe.Ingredients" class="form-control"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Recipe.Directions" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <textarea rows="5" asp-for="Recipe.Directions" class="form-control"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>

</form>